.vector-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.zondiconsclose-outline3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 36px;
  left: 1203px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
.gender-driven-industries-are,
.what-are-gender {
  margin: 0;
  position: absolute;
  left: 318px;
  display: inline-block;
}
.gender-driven-industries-are {
  top: 257px;
  width: 636px;
  height: 218px;
}
.what-are-gender {
  top: 188px;
  font-size: var(--font-size-21xl);
  font-weight: 400;
  font-family: var(--font-changa-one);
  width: 644px;
}
.blue-q5 {
  position: relative;
  background-color: var(--color-cornflowerblue);
  width: 1280px;
  height: 732px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
